@import "tailwindcss";

:root{
  --background:#FAFAFA;
  --card:#FFFFFF;
  --primary:#A7C7E7;
  --accent:#B5EAD7;
  --highlight:#F9D5E5;
  --text-dark:#2E2E2E;
  --text-muted:#7D7D7D;
  --divider:#EDEDED;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--text-dark);
}
